*{
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}
.uper {
  height: 30px;
  width: auto;
  background-color: #13386b;
}
.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.png {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 5px;
}
.phone {
  color: white;
  text-decoration: none;
  padding-bottom: 7px;
}

.right-first {
  text-align: right;
}
.second {
  height: 80px;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}
.second-right {
  margin-top: 30px;

  position: relative;
}
.second-right ul li {
  float: left;
  list-style-type: none;
}
.second-right ul :hover a ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #13386b;
}
.navber {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 55px;
}
.midel {
  text-align: center;
}
.row {
  display: flex;
}
.col-12 {
  width: 100%;
}
.col-9 {
  width: 75%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.3333%;
}
.col-3 {
  width: 25%;
}
.padding {
  padding-top: 70px;
}

.down-padding {
  padding-bottom: 20px;
}



/* carusol */
.main-manu .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
 align-items: center;
}

.main-manu .container .col ul li {
  float: left;
  list-style-type: none;
  position: relative;
}
.main-manu .container .col ul li a {
  text-decoration: none;
  padding: 0 20px;
  color: #13386b;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.main-manu .container .col {
  position: relative;
 
  
}
.main-manu .container .col ul {
  position: absolute;
  right: 0%;
}
.main-manu .container .col ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160%;
  width: 0%;
  height: 5px;
  background-color: #13386b;
  border-radius: 5px;
  opacity: 0;
  transition: 0.4s;

}
.main-manu .container .col ul li:hover a::after{
  width: calc(100% +
  10px);
  opacity: 1;
}

.home-slider .slider-item {
  width: 100%;
  position: relative
}
.home-slider .slider-item img {
  width: 100%;
}
.slider-caption{
    content: '';
    position: absolute;
    top: 40%;
    left: 55%;
    width: 20%;
    text-align: justify;
}
.slider-caption p{
  padding-bottom: 20px;
}
.button2 {
  width: 150px;
  height: 45px;
  background-color: white;
  color: #13386b;
  border: 2PX solid #13386b;
  font-size: 17px;
  padding-top: 5px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.4s;
}
.button2:hover {
  background-color: #13386b;
  border: 2px solid white;
  color: white;
}












.about {
  background: url(image/about-background.jpg);
  height: 440px;
}
.about-us {
  padding-top: 40px;
}
.photo-frame {
  position: relative;
}
.photo-frame:hover .photo-detail {
  display: block;
  color: aliceblue;
}
.photo-frame:hover {
  transition: 2s;
}

.photo-detail {
  text-align: center;
  transition: 2s;
  position: absolute;

  width: 360px;
  height: 210px;
  top: 0%;
  padding-top: 50px;
  left: 35px;
  background-color: rgba(15, 17, 19, 0.7);

  display: none;
}

.gap {
  margin-bottom: 0%;
}
.button {
  width: 150px;
  height: 45px;
  background-color: #13386b;
  color: white;
  font-size: 17px;
  padding-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.4s;
}
.button:hover {
  background-color: white;
  border: 2px solid #13386b;
  color: #13386b;
}
.down {
  background-color: #13386b;
  height: 195px;
}
.text {
  color: white;
  font-size: 27px;
  padding-top: 85px;
}
.down-png {
  padding-top: 80px;
}
.fb-png {
  height: 40px;
  width: 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.4s;
}

.fb-png i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

.fb-png:hover {
  background: #13386b;
}
.fb-png:hover i {
  color: rgb(235, 235, 235);
}
.png-group {
  width: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.last {
  background-color: black;
  height: 55px;
}
footer {
  color: aliceblue;
  padding-top: 18px;
}
#website {
  color: white;
}

/* service css */
.first-bg {
  width: 1920px;
  height: 330px;
}
.light-black {
  width: 1920px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
}
.frame {
  position: relative;
}
.container-details h1 {
  font-size: 35px;
}
.container-details {
  color: aliceblue;
  padding-top: 120px;
}
.white {
  color: aliceblue;
  text-decoration: none;
}
.padding {
  padding-top: 70px;
}
.ass-bg-padding {
  padding-top: 140px;
}
.ass-bg-padding .midel-bg .container .row{
  gap: 20px;
}
.midel-bg {
  background-image: url(image/event-bg.jpg);
  height: 545px;
}
.midel-box {
  padding-top: 120px;
}
.service-img{
  overflow: hidden;
  width: 100%;
}
  

.midel-box .col-4 img{
transition: 1.4s;
width: 100%;

}
.midel-box .col-4 img:hover{
  transform: scale(1.4);
}







.close {
  background-color: #13386b;
  height: 195px;
}
.text {
  color: white;
  font-size: 27px;
  font-style: normal;
}
.padding-text {
  padding-top: 80px;
}

/* about css */
.about {
  background: url(image/about-background.jpg);
  height: 550px;
}
.about-us {
  padding-top: 95px;
}
.second-top-bg {
  background-image: url(image/full.jpg);
  height: 515px;
  width: 100%;
  background-repeat: no-repeat;
}
.white-bg {
  background-color: white;
  height: 340px;
  width: 360px;
  padding-top: 20px;
}
.blue-text {
  color: rgb(12, 9, 148);
  text-decoration: none;
  font-style: normal;
}

.bg-image {
  width: 1919px;
  height: 450px;
}
.logo-details {
  color: black;
  width: 350px;
  justify-content: space-between;
}
.logo {
  height: 75px;
  width: 75px;
  border: 2px solid rgb(8, 8, 58);
  border-radius: 100%;
}
.left-padding {
  padding-left: 150px;
}
.png-pading {
  padding-top: 20px;
}

.about-last-bg-details {
  position: absolute;

  top: 80px;
  left: 370px;
}

/* contact */
.grid {
  display: grid;
  padding-bottom: 70px;
  grid-template-columns: 1.5fr 0.5fr;
}
.name {
  width: 800px;
  height: 40px;
  margin-bottom: 20px;
}
.message{
  width: 800px;
  height: 130px;
  margin-bottom: 20px;
  
}
.down-padding {
  padding-bottom: 20px;
}
.button {
  width: 150px;
  height: 45px;
  background-color: #13386b;
  color: white;
  font-size: 17px;
  padding-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.button:hover {
  background-color: white;
  border: 2px solid #13386b;
  color: #13386b;
}
.inline-text i{
 font-size: 23px;
 color: #13386b;
 
}
.inline-text{
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  
  padding-top: 40px;
}
.inline-text span{
  color: #173a69;
  font-weight: 700;
}
.inline-text a{
  text-decoration: none;
  color: black;
}
.contact-padding{
  padding-top: 80px;
}




















/* galary */
.gallary-section .container .row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.colum img{
  width: 100%;
  height: 100%;
}
.img-thum{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: 0;
  background-color: rgba(0, 0, 0,0.5);
  width: 100%;
  height: 100%;
  
  transition: 0.4s;
}
.img-thum .img-details img{
  height: 35px;
  width: 35px;
}
.img-details{
  color: aliceblue;
 text-align: center;
 padding-top: 25%;
 
 
  
}
.colum{
  position: relative;
 margin-bottom: 15px;
  
}
.colum:hover .img-thum{
  opacity: 1;
}